// Microsoft Visual C++ generated resource script.
//
//#include "resource.h"
#include "windows.h"
#include "verinfo.h"

/////////////////////////////////////////////////////////////////////////////
// “ú–{Œê (“ú–{) resources

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
#pragma code_page(932)

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION TTX_FILE_VERSION
 PRODUCTVERSION TTX_PRODUCT_VERSION
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "tomo3136a"
            VALUE "FileDescription", "Tera Term Reconnect Extension"
            VALUE "FileVersion", TTX_FILE_VERSION_TEXT
            VALUE "InternalName", "TTXRECONNECT"
            VALUE "LegalCopyright", "(C) 2020 tomo3136a"
            VALUE "OriginalFilename", "TTXRECONNECT.DLL"
            VALUE "ProductName", "TTX"
            VALUE "ProductVersion", TTX_PRODUCT_VERSION_TEXT
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
